/* /src/app/events.module.css */

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Add spacing below the header */
  border-bottom: 2px solid #ddd; /* Add a border to emphasize the header */
  padding-bottom: 10px; /* Add padding to the bottom of the header */
}

.subheader {
  padding-top: 20px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; /* Add spacing below the subheader */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
  flex-grow: 1;
}

.input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  flex-grow: 1;
}

.button {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 3px;
}

.button:hover {
  background-color: #005bb5;
}

.addContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.addInput {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  flex-grow: 1;
}

.addButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 3px;
}

.addButton:hover {
  background-color: #218838;
}

.error {
  color: red;
}

.loading {
  color: #0070f3;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
