/* src/app/dashboard/dashboard.module.css */
.container {
  display: flex;
  height: 100vh; /* Ensure the container takes up the full viewport height */
}

.content {
  flex-grow: 1; /* Ensure the content takes up remaining space */
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically and horizontally */
}
